.poke-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.pokemon {
  text-align: center;
  margin: 0.5em;
  background-color: white;
  width: 100%;
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pokemon:hover {
  background-color: #999999;
  cursor: pointer;
}

.pokemon .sprite {
  width: 96px;
  height: 96px;
}

.pokemon .name {
  font-size: 200%;
  margin-left: 1em;
}
